@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color:#02481d;
}

body{
  background-image: url(/src/images/background.jpg);  
  background-size: cover;
  max-width: 1200px;
  margin: 0 auto;
}

header{
  width: 100%;
  margin-bottom: 50px;
  margin-top: 10px;
}

footer {
	padding: 3px;
	text-align: center;
	margin-top: 10px;
}

.interface{
  max-width: 1200px;
  margin: 0px auto;
}

.top-header > .interface{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-header{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5); 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 5%;
}

.top-header .logotipo img{
  width: 250px;
}

.top-header .btn-social button{
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-image: linear-gradient(25deg, #00e17f, #00eeff);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.bottom-header .interface{
  background-image: linear-gradient(180deg, #00e17f, #00ffbf);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bottom-header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  
}

.bottom-header nav ul li a{
  color: #02481d;
  padding: 10px 44px 10px 8px;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  display: block;
  transition: .1s;
}

#agendar{
  text-align: center;
}

.bottom-header nav ul li a:hover{
  background-color: #21b278;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: inset 0 0 8px #00eeff;
}

.drop-hover{
  position: relative;
}

.drop-hover .drop{
  position: absolute;
  background-image: linear-gradient(180deg, #00e17f, #00ffbf);
  border-radius: 8px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .2s;
  z-index: 1;
}

.drop-hover .drops{
  position: absolute;
  background-image: linear-gradient(180deg, #00e17f, #00ffbf);
  border-radius: 8px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .2s;
  z-index: 1;
}

.drop-hover .drop ul li a{
  padding: 1px;
}

.drop-hover .drops ul li a{
  padding: 1px;
}

.drop-hover:hover .drop{
  height: 130px;
}

.drop-hover:hover .drops{
  height: 130px;
}

#contato{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

#linha1{
  margin-top: 100px;
}

.especialidades{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
  
}

.especialidades li{
  background-image: linear-gradient(25deg, #00e17f, #00eeff);
  border-radius: 8px;
  color: #02481d;
  list-style-type: none;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding: 4px 4px 4px 4px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;  
}

.exames-laboratoriais{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.exames-laboratoriais li{  
  background-image: linear-gradient(25deg, #00e17f, #00eeff);
  border-radius: 8px;
  color: #02481d;
  list-style-type: none;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding: 4px 4px 4px 4px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.exames-imagens{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.exames-imagens li{
  background-image: linear-gradient(25deg, #00e17f, #00eeff);
  border-radius: 8px;
  color: #02481d;
  list-style-type: none;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding: 4px 4px 4px 4px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 10px; /* Ajuste o espaçamento conforme desejado */
  margin-bottom: 10px;
  font-weight: 700;
}

h5{
  font-size: x-large;
  text-align: center;
  margin-bottom: 50px;
}

main{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: 2;
  border-radius: 8px;
  height: 610px;
  font-size: medium;
  text-align: justify;  
  font-weight: 400;
  padding: 15px;
}

#direitos{
  font-size: 13px;
  font-weight: 500;
}

.main-container{
  position: relative;
  border-radius: 8px;
  width: 100%;
  height: 600px;
  
}

.swiper-container{
  width: 100%;
  max-width: 760px;
  margin: 0px auto;
  padding-top: 150px;
}

.slide-item{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.glass-effect {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5); 
}