
@media screen and (max-width: 720px) {
  
  .top-header .interface{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-header nav ul li a {
    font-weight: 500;
    font-size: small;
    padding: 5px 25px 4px 6px;
  }
 
  .logotipo {
    margin-bottom: 20px;
  }

  .btn-social {
    justify-content: center;
    margin-bottom: 20px;
  }

  .btn-social button {
    margin: 0 10px;
  }

  .drop-hover:hover .drop{
    height: 100px;
  }
  
  .drop-hover:hover .drops{
    height: 100px;
  }

  span{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .agendar a svg {
    padding: 2px;
    margin-left: 45px;
  }

  main {
    font-size: small;
    height: 890px;
  }

  ul {
    padding: 0;
    
    list-style: none;
  }

  li {
    margin-bottom: 2px;
  }
}
